<div>
  <h4>Counter: {{counter$ | async}}</h4>
</div>

<div class="modify-counter-types-wrapper">
  <app-modify-counter
    [counterAction]='resetAction'
    title="reset counter">
  </app-modify-counter>
  <app-modify-counter
    [counterAction]='incrementAction'
    title="increment counter">
  </app-modify-counter>
  <app-modify-counter
    [counterAction]='decrementAction'
    title="decrement counter">
  </app-modify-counter>
  <app-modify-counter-payload
    title="apply counter">
  </app-modify-counter-payload>
</div>
